<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stephen.popcorn.mapper.RecommendMapper">

    <resultMap id="BaseResultMap" type="com.stephen.popcorn.model.entity.Recommend">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goodsType" column="goodsType" jdbcType="VARCHAR"/>
            <result property="goodsId" column="goodsId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goodsType,goodsId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
